@use 'sass:math';
body {
    background:black;
}
.container {
    width:400px;
    height:400px;
    margin:0 auto;
    margin-top:50px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    transform: .5s;
    .item {
        background-color: #fff;
    }
}
// 为每个块设置不同的颜色
@for $i from 0 through 8 {
    .item:nth-child(#{$i+1}){
        background-color: hsl($i * 40deg, 100%, 50%);
    }
    .container:has(.item:nth-child(#{$i+1}):hover) {
        $r:math.floor(math.div($i,3) + 1);
        $c:mod($i, 3) + 1;
        $arr: 1fr 1fr 1fr;
        $rows: set-nth($arr, $r, 2fr);
        $cols: set-nth($arr, $c, 2fr);
        grid-template-columns: $cols;
        grid-template-rows: $rows;
    }
}

